 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1051px;
  position: relative;
}

.u-section-1 .u-shape-1 {
  width: 442px;
  background-image: none;
  left: auto;
  right: 323px;
}

.u-section-1 .u-image-1 {
  width: 1016px;
  height: 744px;
  box-shadow: 5px 5px 35px 0 rgba(0,0,0,0.15);
  margin: 80px 0 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 473px;
  width: 498px;
  margin: -246px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 45px;
}

.u-section-1 .u-text-1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 2px;
  border-style: none;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 10px 35px 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 996px;
  }

  .u-section-1 .u-image-1 {
    width: 878px;
    height: 689px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -191px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-1 .u-shape-1 {
    right: 278px;
  }

  .u-section-1 .u-image-1 {
    width: 666px;
    height: 561px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -63px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1006px;
  }

  .u-section-1 .u-shape-1 {
    width: 377px;
    height: 1006px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 65px 0 auto;
  }

  .u-section-1 .u-image-1 {
    width: 495px;
    height: 442px;
    margin-top: -926px;
  }

  .u-section-1 .u-group-1 {
    width: 414px;
    margin-top: -61px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-1 .u-shape-1 {
    width: 220px;
    height: 829px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 290px;
  }

  .u-section-1 .u-group-1 {
    min-height: 472px;
    width: 317px;
    margin-top: 77px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 543px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 49px;
  margin-bottom: 49px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 445px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 117px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 328px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 367px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 96px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 270px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 843px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 632px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 398px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1079px;
}

.u-section-3 .u-image-1 {
  height: 665px;
  width: 1020px;
  margin: 60px auto 0 60px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: -152px auto 55px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 393px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 60px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 153px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 202px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-3 .u-image-1 {
    height: 639px;
    width: 910px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -128px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 167px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-3 .u-image-1 {
    height: 470px;
    width: 690px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -98px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 445px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-left: 1px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 1px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 97px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 965px;
  }

  .u-section-3 .u-image-1 {
    height: 371px;
    width: 509px;
    margin-top: 28px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 445px;
    margin: -102px auto 28px 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 292px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 125px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-3 .u-image-1 {
    height: 239px;
    width: 310px;
    margin-top: 60px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 300px;
    margin-top: -39px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 96px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 569px;
}

.u-section-4 .u-slider-1 {
  min-height: 480px;
  width: 763px;
  margin: 45px auto 60px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-4 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 400;
  width: 215px;
  margin: -12px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-4 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  width: 143px;
  margin: 97px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-4 .u-image-3 {
  width: 83px;
  height: 83px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  width: 218px;
  margin: 97px auto 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-4 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-slider-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-slider-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-slider-1 {
    min-height: 533px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-slider-1 {
    min-height: 559px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.125rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1000px;
}

.u-section-5 .u-text-1 {
  width: 774px;
  font-size: 2.25rem;
  margin: 83px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 101px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 316px;
  grid-auto-columns: 100%;
  grid-gap: 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 90px;
  width: 90px;
  background-image: none;
  color: rgb(31, 38, 69) !important;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: -70px 55px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  width: 590px;
  margin: 14px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 90px;
  width: 90px;
  background-image: none;
  color: rgb(31, 38, 69) !important;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: -70px 55px 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  width: 590px;
  margin: 14px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 90px;
  width: 90px;
  background-image: none;
  color: rgb(31, 38, 69) !important;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: -70px 55px 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  width: 590px;
  margin: 14px auto 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 90px;
  width: 90px;
  background-image: none;
  color: rgb(31, 38, 69) !important;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-8 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: -70px 55px 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.25rem;
  width: 590px;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 116px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 116px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 116px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-left: 116px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-right: 0;
    margin-left: 116px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-left: 116px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-right: 0;
    margin-left: 116px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-left: 116px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: auto;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: auto;
  }

  .u-section-5 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: auto;
  }

  .u-section-5 .u-text-8 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1530px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: url("images/rtttt.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 934px;
}

.u-section-6 .u-group-1 {
  width: 505px;
  min-height: 538px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 356px 0 40px auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  margin: 38px 40px 0 70px;
}

.u-section-6 .u-form-1 {
  height: 409px;
  width: 455px;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    background-position: 50.84% 50%;
    background-size: auto 125%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    background-position: 53.08% 32.05%;
    background-size: auto 120%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    background-position: 46.32% 36.95%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-form-1 {
    width: 340px;
  }
}